@keyframes animation-hero-img{

    0%{
        transform: translateX(200px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes animation-hero-btn{
    0%{
        transform: translateY(-200px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes animation-hero-bedge{
    0%{
        
        opacity: 0;
        
    }
    100%{
        
        opacity: 1;
    }
}