
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {

    padding-left: 10em;
    font-family: 'Roboto', sans-serif;
    background-color: #415fe1;
    color: white;
}

#yellowBox {

    color: black;
    background-color: yellow;
    width: 300px;
    height: 180px;
    margin: 0;
    text-align: right;
    font-weight: bolder;
    padding-top: 100px;
    font-size: 11em;
}
#link+a {
    text-decoration: none;
}
#link a {

    color: white;
}

#link a:hover {

    color: black;
}