


@import "./animations/animations";
$bg-hero:#7153FA;
$color-white: white;
body{
    margin: 0 auto;
}
header{
    
    .bi{
        margin-right: 0.5em;
    }
    
    #bedge-green.top{
        
        top:90%
    }
    
    #bedge-green.start{
        right:-30%
    }
    
  
}
 
.hero{
    background-color: $bg-hero;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3em;

    div{
        padding: 0 4em;
    }
    h1,p{
        color: $color-white;   
    }
    p{
        opacity: 0.5;
        font-size: 1.5em;
    }
    .btn{
        padding: 10px 15px;
        font-weight: bold;
        animation: animation-hero-btn 2s linear 1 300ms;
    }
    .btn-primary{
        background-color: #52A23F;
        border: #52A23F;
        &:hover{
            background-color: darken(#52A23F, 20%);
        }
    }
   img{
    animation: animation-hero-img 2s linear 1;
   }
}


main{
    margin-bottom: 4em;
}
.texts{
    
    
    justify-content: center;

    .svg{
        background-color: lighten(brown, 50%);
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.5em;
    }
    h2{
        font-size: 1em;
        margin-bottom: 0;
    }

    p{
        font-size: 0.9em;
    }
    .bi{
        color: brown;
        margin-right: 1em;
        margin-left: 1em;
        width: 1.5em;     
    }

   div{
    div{
        margin-bottom: 1em;
    }
   }
}

.bi-star-fill{
    color: #ebc506;
}

h5{
        font-size: 1.1em;
    }

.card{
    transition: all 300ms linear;
    &:hover{
        box-shadow: 2px 2px 4px 2px lightblue, -2px -2px 4px 2px lightblue;
        transform: scale(1.1);
        cursor: pointer;
    }
}
.card-body{
    del{
        font-size: 0.7em;
    }
    strong{
        margin: 0;
    }

    img{
        margin-right: 0.5em;
    }
}
.card-text{
    align-items: baseline;
    
    
    

    .bi{
        margin-right: 0.2em;
        margin-top: 0.25em;
    }

    
}

.courses{
    padding-bottom: 10em;
    
}

footer{
    display: flex;
    justify-content: space-between;
    
   ul{
        display: flex;
        list-style-type: none;
        li{
            margin-left: 3em;
        }
        
    }
}




